//- h1 Francisco Gutierrez
//- p Welcome to a list of my stuff
//- ul
//-   li Things
//-   li other things
//-   li
//-     a(href='resume.html') le resume

:markdown
  # Francisco Gutierrez
  * [My Resume](resume.html)
  * [Facebook](http://www.facebook.com/freefrancisco)
  * [Twitter](http://www.twitter.com/freefrancisco)
  * [LinkedIn](http://www.linkedin.com/in/francisco)
